name: GitHub Actions Demo
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - uses: Azure/login@v1
        with:
             creds: ${{ secrets.AZURE_CREDENTIALS }}
      - uses: Azure/get-keyvault-secrets@v1
        with:
          keyvault: "demo343"
          secrets: 'vADFresourceId'
        id: myGetSecretAction
      - run: echo ${{ steps.myGetSecretAction.outputs.vADFresourceId }}
      - name: Validate ARM Template
        id: validate
        uses: Azure/data-factory-validate-action@v1.1.5
    # with:
    #   path: ./mydir [optional]
    #   id: <data factory resource ID> [optional]

