name: GitHub Azure Actions Demo
on: workflow_dispatch
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Azure/login@v1
        with:
             creds: ${{ secrets.AZURE_CREDENTIALS }}
      - uses: Azure/get-keyvault-secrets@v1
        with:
          keyvault: "demo343"
          secrets: 'vADFresourceId'
        id: myGetSecretAction
      - run: echo ${{ steps.myGetSecretAction.outputs.vADFresourceId }}
      - name: Export ARM Template
        id: export
        uses: Azure/data-factory-export-action@v1.0.2
        with:
          path: ./adf-root 
          id: /subscriptions/ac90002c-698e-4529-95d3-48e20a731732/resourceGroups/demorg/providers/Microsoft.DataFactory/factories/dem0adf001
      - name: Publish ARM template
        uses: actions/upload-artifact@v2
        with:
          name: my-artifact
          path: ${{ steps.export.outputs.arm-template-directory }}
          if-no-files-found: error   
      - name: curl
        uses: wei/curl@v1
        with:
         args: -H "X-JFrog-Art-Api:AKCp8krAZ8zADpqUNdqkdYJTxdwY33kdoZWCbcnVPZsygB7gtopMVZDP2838Pks3DmcEnXkSi" -T ${{ steps.export.outputs.arm-template-directory }} "https://artifactrepoanimesh.jfrog.io/artifactory/default-generic-local/"

