name: GitHub Actions Demo
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@master
      - uses: Azure/login@v1
        with:
             creds: ${{ secrets.AZURE_CREDENTIALS }}
      - uses: Azure/get-keyvault-secrets@v1
        with:
          keyvault: "demo343"
          secrets: 'vTenantID'
        id: myGetSecretAction
      - run: echo ${{ steps.myGetSecretAction.outputs.vTenantID }}

